In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_excel('../../fsdata/00261443_annual.xlsx', sheet_name ='Data_bs')
df2 = pd.read_excel('../../fsdata/00261443_annual.xlsx', sheet_name ='Data_cis')
df3 = pd.read_excel('../../fsdata/00261443_annual.xlsx', sheet_name='Data_cf')

In [3]:
df1.head()

,Unnamed: 0,"[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,20201231,...,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231,20091231
0,NaN,concept_id,label_ko,label_en,class0,class1,class2,class3,class4,"('연결재무제표',)",...,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,ifrs-full_CurrentAssets,유동자산,Current assets,재무상태표 [abstract],자산 [abstract],유동자산,NaN,NaN,2444363386090,...,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675,722757843882,607854549387
3,1.0,ifrs-full_CashAndCashEquivalents,현금및현금성자산,Cash and cash equivalents,재무상태표 [abstract],자산 [abstract],유동자산,현금및현금성자산,NaN,157272936923,...,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935,59453163281,95140096775
4,2.0,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,Short-term deposits not classified as cash equ...,재무상태표 [abstract],자산 [abstract],유동자산,단기금융상품,NaN,638038278271,...,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063,532651883787,365000000000

In [4]:
df1.columns

Index(['Unnamed: 0',
       '[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', '20201231', '20191231', '20181231',
       '20171231', '20161231', '20151231', '20141231', '20131231', '20121231',
       '20111231', '20101231', '20091231'],
      dtype='object')

In [5]:
df1.drop(df1.iloc[:, :2], axis=1, inplace=True)
df1.drop(df1.iloc[:, 1:7], axis=1, inplace=True)

In [6]:
df1.head()

,Unnamed: 2,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231,20091231
0,label_ko,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675,722757843882,607854549387
3,현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935,59453163281,95140096775
4,단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063,532651883787,365000000000

In [7]:
df1.drop(df1.iloc[:, 11:], axis=1, inplace=True)

In [8]:
df1.head()

,Unnamed: 2,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
0,label_ko,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
3,현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935
4,단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063

In [9]:
df1.iloc[1, :]

Unnamed: 2    NaN
20201231      NaN
20191231      NaN
20181231      NaN
20171231      NaN
20161231      NaN
20151231      NaN
20141231      NaN
20131231      NaN
20121231      NaN
20111231      NaN
Name: 1, dtype: object

In [10]:
df1.drop(df1.index[:2], inplace=True)

In [11]:
df1.head()

,Unnamed: 2,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
2,유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
3,현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935
4,단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063
5,매출채권 및 기타유동채권,282070563258,270699688344,182833607477,206815895375,166965526788,NaN,NaN,NaN,NaN,NaN
6,매출채권,243026115552,254438148640,148499863730,193018227815,158456941728,88963242761,89755149748,81390284372,76702371461,72661317230

In [12]:
df1.set_index('Unnamed: 2', inplace=True)
df1.head()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
Unnamed: 2,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935
단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063
매출채권 및 기타유동채권,282070563258,270699688344,182833607477,206815895375,166965526788,NaN,NaN,NaN,NaN,NaN
매출채권,243026115552,254438148640,148499863730,193018227815,158456941728,88963242761,89755149748,81390284372,76702371461,72661317230

In [13]:
df1.reset_index(inplace=True)
df1.head()

,Unnamed: 2,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
0,유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
1,현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935
2,단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063
3,매출채권 및 기타유동채권,282070563258,270699688344,182833607477,206815895375,166965526788,NaN,NaN,NaN,NaN,NaN
4,매출채권,243026115552,254438148640,148499863730,193018227815,158456941728,88963242761,89755149748,81390284372,76702371461,72661317230

In [14]:
df1.rename(columns={'Unnamed: 2':'자산종류'}, inplace=True)
df1.head()

,자산종류,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
0,유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
1,현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935
2,단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063
3,매출채권 및 기타유동채권,282070563258,270699688344,182833607477,206815895375,166965526788,NaN,NaN,NaN,NaN,NaN
4,매출채권,243026115552,254438148640,148499863730,193018227815,158456941728,88963242761,89755149748,81390284372,76702371461,72661317230

In [15]:
df1.set_index('자산종류', inplace=True)
df1.head()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935
단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063
매출채권 및 기타유동채권,282070563258,270699688344,182833607477,206815895375,166965526788,NaN,NaN,NaN,NaN,NaN
매출채권,243026115552,254438148640,148499863730,193018227815,158456941728,88963242761,89755149748,81390284372,76702371461,72661317230

In [16]:
df1.index

Index(['유동자산', '현금및현금성자산', '단기금융상품', '매출채권 및 기타유동채권', '매출채권', '기타수취채권',
       '단기대여금', '단기금융리스채권', '단기투자자산', '재고자산', '기타유동자산', '당기법인세자산', '비유동자산',
       '장기매출채권 및 기타비유동채권', '기타수취채권', '장기대여금', '장기금융리스채권', '장기투자자산',
       '관계기업에 대한 투자자산', '투자부동산', '유형자산', '무형자산', '기타비유동자산', '확정급여자산',
       '이연법인세자산', '자산총계', '유동부채', '차입금', '기타지급채무', '리스부채', '당기법인세부채', '기타유동부채',
       '기타충당부채', '비유동부채', '파생상품부채', '사채', '확정급여부채', '장기종업원급여채무', '기타지급채무',
       '비유동리스부채', '기타비유동부채', '기타충당부채', '이연법인세부채', '부채총계',
       '지배기업의 소유주에게 귀속되는 자본', '자본금', '기타불입자본', '기타자본구성요소', '이익잉여금(결손금)',
       '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [17]:
df1.drop(df1.index[1:11], inplace=True)
df1.index

Index(['유동자산', '당기법인세자산', '비유동자산', '장기매출채권 및 기타비유동채권', '장기대여금', '장기금융리스채권',
       '장기투자자산', '관계기업에 대한 투자자산', '투자부동산', '유형자산', '무형자산', '기타비유동자산', '확정급여자산',
       '이연법인세자산', '자산총계', '유동부채', '차입금', '기타지급채무', '리스부채', '당기법인세부채', '기타유동부채',
       '기타충당부채', '비유동부채', '파생상품부채', '사채', '확정급여부채', '장기종업원급여채무', '기타지급채무',
       '비유동리스부채', '기타비유동부채', '기타충당부채', '이연법인세부채', '부채총계',
       '지배기업의 소유주에게 귀속되는 자본', '자본금', '기타불입자본', '기타자본구성요소', '이익잉여금(결손금)',
       '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [18]:
df1.drop(df1.index[1:12], inplace=True)
df1.index

Index(['유동자산', '확정급여자산', '이연법인세자산', '자산총계', '유동부채', '차입금', '기타지급채무', '리스부채',
       '당기법인세부채', '기타유동부채', '기타충당부채', '비유동부채', '파생상품부채', '사채', '확정급여부채',
       '장기종업원급여채무', '기타지급채무', '비유동리스부채', '기타비유동부채', '기타충당부채', '이연법인세부채',
       '부채총계', '지배기업의 소유주에게 귀속되는 자본', '자본금', '기타불입자본', '기타자본구성요소',
       '이익잉여금(결손금)', '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [19]:
df1.drop(df1.index[1:3], inplace=True)
df1.index

Index(['유동자산', '자산총계', '유동부채', '차입금', '기타지급채무', '리스부채', '당기법인세부채', '기타유동부채',
       '기타충당부채', '비유동부채', '파생상품부채', '사채', '확정급여부채', '장기종업원급여채무', '기타지급채무',
       '비유동리스부채', '기타비유동부채', '기타충당부채', '이연법인세부채', '부채총계',
       '지배기업의 소유주에게 귀속되는 자본', '자본금', '기타불입자본', '기타자본구성요소', '이익잉여금(결손금)',
       '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [20]:
df1.drop(df1.index[3:19], inplace=True)
df1.index

Index(['유동자산', '자산총계', '유동부채', '부채총계', '지배기업의 소유주에게 귀속되는 자본', '자본금', '기타불입자본',
       '기타자본구성요소', '이익잉여금(결손금)', '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [21]:
df1.drop(df1.index[4], inplace=True)
df1.index

Index(['유동자산', '자산총계', '유동부채', '부채총계', '자본금', '기타불입자본', '기타자본구성요소',
       '이익잉여금(결손금)', '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [22]:
df1.drop(df1.index[5:9], inplace=True)
df1.index

Index(['유동자산', '자산총계', '유동부채', '부채총계', '자본금', '자본총계', '자본과부채총계'], dtype='object', name='자산종류')

In [23]:
df1.drop(df1.index[2], inplace=True)
df1.index

Index(['유동자산', '자산총계', '부채총계', '자본금', '자본총계', '자본과부채총계'], dtype='object', name='자산종류')

In [24]:
df1

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024

In [25]:
df2.head()

,Unnamed: 0,"[D431410] Statement of comprehensive income, by function of expense - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231
0,NaN,concept_id,label_ko,label_en,class0,class1,class2,class3,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,ifrs-full_Revenue,영업수익,Revenue(Sales),포괄손익계산서 [abstract],영업수익,NaN,NaN,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065,659671818399
3,1.0,ifrs-full_CostOfSales,영업비용,Cost of sales,포괄손익계산서 [abstract],영업비용,NaN,NaN,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514,124816307460
4,2.0,dart_OperatingIncomeLoss,영업이익(손실),Operating income(loss),포괄손익계산서 [abstract],영업이익(손실),NaN,NaN,824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106,222264641364

In [26]:
df2.drop(df2.index[:2], inplace=True)
df2.head()

,Unnamed: 0,"[D431410] Statement of comprehensive income, by function of expense - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231
2,0.0,ifrs-full_Revenue,영업수익,Revenue(Sales),포괄손익계산서 [abstract],영업수익,NaN,NaN,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065,659671818399
3,1.0,ifrs-full_CostOfSales,영업비용,Cost of sales,포괄손익계산서 [abstract],영업비용,NaN,NaN,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514,124816307460
4,2.0,dart_OperatingIncomeLoss,영업이익(손실),Operating income(loss),포괄손익계산서 [abstract],영업이익(손실),NaN,NaN,824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106,222264641364
5,3.0,entity00261443_udf_IS_201889135258209_Statemen...,영업외손익,Non-operating income,포괄손익계산서 [abstract],영업외손익,NaN,NaN,-21537177699,17161155706,22420606287,25223849506,17310616038,2043384219,10820968314,10987192337,31655027196,21488400956,-27208216969
6,4.0,entity00261443_udf_IS_201889135346490_udf_IS_2...,금융수익,Financial income,포괄손익계산서 [abstract],영업외손익,금융수익,NaN,53397968078,69663193296,50249720185,26908469317,24741355688,20885122996,17744278634,16765523539,18290752205,22913196494,21736651786

In [27]:
df2.drop(df2.iloc[:, :2], axis=1, inplace=True)
df2.head()

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231
2,영업수익,Revenue(Sales),포괄손익계산서 [abstract],영업수익,NaN,NaN,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065,659671818399
3,영업비용,Cost of sales,포괄손익계산서 [abstract],영업비용,NaN,NaN,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514,124816307460
4,영업이익(손실),Operating income(loss),포괄손익계산서 [abstract],영업이익(손실),NaN,NaN,824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106,222264641364
5,영업외손익,Non-operating income,포괄손익계산서 [abstract],영업외손익,NaN,NaN,-21537177699,17161155706,22420606287,25223849506,17310616038,2043384219,10820968314,10987192337,31655027196,21488400956,-27208216969
6,금융수익,Financial income,포괄손익계산서 [abstract],영업외손익,금융수익,NaN,53397968078,69663193296,50249720185,26908469317,24741355688,20885122996,17744278634,16765523539,18290752205,22913196494,21736651786

In [28]:
df2.drop(df2.iloc[:, 1:6], axis=1, inplace=True)
df2.head()

,Unnamed: 2,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231
2,영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065,659671818399
3,영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514,124816307460
4,영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106,222264641364
5,영업외손익,-21537177699,17161155706,22420606287,25223849506,17310616038,2043384219,10820968314,10987192337,31655027196,21488400956,-27208216969
6,금융수익,53397968078,69663193296,50249720185,26908469317,24741355688,20885122996,17744278634,16765523539,18290752205,22913196494,21736651786

In [29]:
df2.drop(df2.iloc[:, 11:], axis=1, inplace=True)
df2.head()

,Unnamed: 2,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231
2,영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
3,영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
4,영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
5,영업외손익,-21537177699,17161155706,22420606287,25223849506,17310616038,2043384219,10820968314,10987192337,31655027196,21488400956
6,금융수익,53397968078,69663193296,50249720185,26908469317,24741355688,20885122996,17744278634,16765523539,18290752205,22913196494

In [30]:
df2.rename(columns={'Unnamed: 2': '자산종류'}, inplace=True)
df2.head()

,자산종류,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231
2,영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
3,영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
4,영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
5,영업외손익,-21537177699,17161155706,22420606287,25223849506,17310616038,2043384219,10820968314,10987192337,31655027196,21488400956
6,금융수익,53397968078,69663193296,50249720185,26908469317,24741355688,20885122996,17744278634,16765523539,18290752205,22913196494

In [31]:
df2.set_index('자산종류', inplace=True)
df2.head()

,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231
자산종류,,,,,,,,,,
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
영업외손익,-21537177699,17161155706,22420606287,25223849506,17310616038,2043384219,10820968314,10987192337,31655027196,21488400956
금융수익,53397968078,69663193296,50249720185,26908469317,24741355688,20885122996,17744278634,16765523539,18290752205,22913196494

In [32]:
df1_col_list = df1.columns.to_list
df2.columns = df1.columns

In [33]:
df2.head()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
영업외손익,-21537177699,17161155706,22420606287,25223849506,17310616038,2043384219,10820968314,10987192337,31655027196,21488400956
금융수익,53397968078,69663193296,50249720185,26908469317,24741355688,20885122996,17744278634,16765523539,18290752205,22913196494

In [34]:
df1.head()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273

In [35]:
df2.index

Index(['영업수익', '영업비용', '영업이익(손실)', '영업외손익', '금융수익', '금융비용', '관계기업투자손익',
       '영업외수익', '영업외비용', '법인세비용차감전순이익(손실)', '법인세비용', '당기순이익(손실)', '지배기업소유주지분',
       '비지배주주지분', '기타포괄손익', '당기손익으로 재분류되지 않는항목(세후기타포괄손익)', '확정급여제도의 재측정요소',
       '기타포괄손익-공정가치 측정 금융자산 평가손익', '당기손익으로 재분류될 수 있는 항목(세후기타포괄손익)', '지분법자본변동',
       '해외사업환산손익', '총포괄손익', '지배기업소유주지분포괄손익', '비지배주주지분포괄손익', '기본주당이익(손실)',
       '희석주당이익(손실)'],
      dtype='object', name='자산종류')

In [36]:
df2.drop(df2.index[3:10], inplace=True)
df2.head()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139

In [37]:
df2.index

Index(['영업수익', '영업비용', '영업이익(손실)', '법인세비용', '당기순이익(손실)', '지배기업소유주지분',
       '비지배주주지분', '기타포괄손익', '당기손익으로 재분류되지 않는항목(세후기타포괄손익)', '확정급여제도의 재측정요소',
       '기타포괄손익-공정가치 측정 금융자산 평가손익', '당기손익으로 재분류될 수 있는 항목(세후기타포괄손익)', '지분법자본변동',
       '해외사업환산손익', '총포괄손익', '지배기업소유주지분포괄손익', '비지배주주지분포괄손익', '기본주당이익(손실)',
       '희석주당이익(손실)'],
      dtype='object', name='자산종류')

In [38]:
df2.drop(df2.index[5:], inplace=True)
df2

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139

In [39]:
df3.head()

,Unnamed: 0,"[D520000] Statement of cash flows, indirect method - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231,20090101-20091231
0,NaN,concept_id,label_ko,label_en,class0,class1,class2,class3,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,Cash flows from (used in) operating activities,현금흐름표 [abstract],영업활동현금흐름,NaN,NaN,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124,220502551539,NaN
3,1.0,entity00261443_udf_CF_2017111018424555_CashFlo...,영업에서 창출된 현금흐름,Cash inflows from (used in) operating activities,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,NaN,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851,267342033711,NaN
4,2.0,entity00261443_udf_CF_20171110184212683_udf_CF...,당기순이익,Net income,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139,144261037213,NaN

In [40]:
df3.drop(df3.index[:2], inplace=True)
df3.head()

,Unnamed: 0,"[D520000] Statement of cash flows, indirect method - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231,20090101-20091231
2,0.0,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,Cash flows from (used in) operating activities,현금흐름표 [abstract],영업활동현금흐름,NaN,NaN,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124,220502551539,NaN
3,1.0,entity00261443_udf_CF_2017111018424555_CashFlo...,영업에서 창출된 현금흐름,Cash inflows from (used in) operating activities,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,NaN,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851,267342033711,NaN
4,2.0,entity00261443_udf_CF_20171110184212683_udf_CF...,당기순이익,Net income,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139,144261037213,NaN
5,3.0,entity00261443_udf_CF_20171110184245394_udf_CF...,법인세비용,Tax expense,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923,50795387182,NaN
6,4.0,entity00261443_udf_CF_20171110184244578_udf_CF...,이자비용,Interest expense,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,이자비용,8978866739,8419063264,3330175649,3257503570,2978607596,32179145,28593441,322687089,865713866,758197644,304064978,NaN

In [41]:
df3.drop(df3.iloc[:,:2], axis=1, inplace=True)
df3.head()

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231,20090101-20091231
2,영업활동현금흐름,Cash flows from (used in) operating activities,현금흐름표 [abstract],영업활동현금흐름,NaN,NaN,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124,220502551539,NaN
3,영업에서 창출된 현금흐름,Cash inflows from (used in) operating activities,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,NaN,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851,267342033711,NaN
4,당기순이익,Net income,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139,144261037213,NaN
5,법인세비용,Tax expense,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923,50795387182,NaN
6,이자비용,Interest expense,현금흐름표 [abstract],영업활동현금흐름,영업에서 창출된 현금흐름,이자비용,8978866739,8419063264,3330175649,3257503570,2978607596,32179145,28593441,322687089,865713866,758197644,304064978,NaN

In [42]:
df3.drop(df3.iloc[:,1:6], axis=1, inplace=True)
df3.head()

,Unnamed: 2,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231,20090101-20091231
2,영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124,220502551539,NaN
3,영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851,267342033711,NaN
4,당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139,144261037213,NaN
5,법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923,50795387182,NaN
6,이자비용,8978866739,8419063264,3330175649,3257503570,2978607596,32179145,28593441,322687089,865713866,758197644,304064978,NaN

In [43]:
df3.rename(columns={'Unnamed: 2':'자산종류'}, inplace=True)
df3.set_index('자산종류', inplace=True)
df3.head()

,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231,20090101-20091231
자산종류,,,,,,,,,,,,
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124,220502551539,NaN
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851,267342033711,NaN
당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139,144261037213,NaN
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923,50795387182,NaN
이자비용,8978866739,8419063264,3330175649,3257503570,2978607596,32179145,28593441,322687089,865713866,758197644,304064978,NaN

In [44]:
df3.drop(df3.iloc[:,:-3:-1], axis=1, inplace=True)
df3.head()

,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231
자산종류,,,,,,,,,,
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851
당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
이자비용,8978866739,8419063264,3330175649,3257503570,2978607596,32179145,28593441,322687089,865713866,758197644

In [45]:
df3.columns = df2.columns

In [46]:
df3.head()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851
당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
이자비용,8978866739,8419063264,3330175649,3257503570,2978607596,32179145,28593441,322687089,865713866,758197644

In [47]:
df3.index

Index(['영업활동현금흐름', '영업에서 창출된 현금흐름', '당기순이익', '법인세비용', '이자비용', '외화환산손실',
       '대손상각비', '기타의대손상각비', '감가상각비', '무형자산상각비', '유형자산처분손실', '무형자산처분손실',
       '무형자산손상차손', '재고자산폐기손실', '당기손익-공정가치 측정 금융자산 평가손실',
       '당기손익-공정가치 측정 금융자산 처분손실', '지분법손익', '관계기업투자주식평가손실', '관계기업투자주식처분손실',
       '관계기업투자주식손상차손', '관계기업투자주식평가이익', '퇴직급여', '기타장기급여', '주식보상비용', '복구충당부채 환입',
       '이자수익', '외화환산이익', '당기손익-공정가치 측정 금융자산 평가이익', '당기손익-공정가치 측정 금융자산 처분이익',
       '관계기업투자주식처분이익', '배당금수익', '유형자산처분이익', '주식매수권부채평가이익', '무형자산처분이익',
       '기타대손충당금 환입', '기타영업외수익', '매출채권의 감소(증가)', '기타수취채권의 감소(증가)', '금융리스채권의 증가',
       '기타유동자산의 감소(증가)', '재고자산의 감소(증가)', '기타수취채권(비유동)의 증가(감소)',
       '기타비유동자산의 감소(증가)', '매입채무의 증가(감소)', '기타지급채무의 증가(감소)', '기타유동부채의 증가(감소)',
       '순확정급여부채의 증가(감소)', '장기종업원급여채무의 증가', '기타지급채무(비유동)의 증가(감소)',
       '기타유동금융부채의 감소', '기타비유동부채의 증가(감소)', '기타충당부채의 감소', '이자수취', '배당금수취',
       '이자지급', '법인세납부', '투자활동현금흐름', '투자활동으로 인한 현금 유입액', '단기금융상품의 감소',
       '단기대여금의 감소', '당기손익-공정가치 측정 금융자산의 처분', '기타포괄손익-공정가치 측정 금융자산의 처분',
       '상각후원가 측정 금융자산의 처분', '관계기업투자주식의 처분', '유형자산의 처분', '무형자산의 처분', '보증금의 감소',
       '투자활동으로 인한 현금 유출액', '단기금융상품의 증가', '장기대여금의 증가', '단기대여금의 증가',
       '당기손익-공정가치 측정 금융자산의 취득', '기타포괄손익-공정가치 측정 금융자산의 취득', '상각후원가 측정 금융자산의 취득',
       '관계기업투자주식의 취득', '유형자산의 취득', '투자부동산의 취득', '무형자산의 취득', '임차보증금의 증가',
       '재무활동현금흐름', '재무활동으로 인한 현금 유입액', '단기차입금의 증가', '사채의 발행', '주식선택권의 행사',
       '종속기업의 주식 발행', '재무활동으로 인한 현금 유출액', '단기차입금의 상환', '사채의 상환', '배당금의 지급',
       '자기주식의 취득', '주식선택권의 행사', '리스부채의 상환', '종속기업투자지분 추가 취득',
       '현금및현금성자산의 증가(감소)', '기초현금및현금성자산', '현금및현금성자산의 환율 변동 효과', '기말현금및현금성자산'],
      dtype='object', name='자산종류')

In [48]:
df3.drop(df3.index[4:35], inplace=True)
df3.index

Index(['영업활동현금흐름', '영업에서 창출된 현금흐름', '당기순이익', '법인세비용', '기타영업외수익',
       '매출채권의 감소(증가)', '기타수취채권의 감소(증가)', '금융리스채권의 증가', '기타유동자산의 감소(증가)',
       '재고자산의 감소(증가)', '기타수취채권(비유동)의 증가(감소)', '기타비유동자산의 감소(증가)',
       '매입채무의 증가(감소)', '기타지급채무의 증가(감소)', '기타유동부채의 증가(감소)', '순확정급여부채의 증가(감소)',
       '장기종업원급여채무의 증가', '기타지급채무(비유동)의 증가(감소)', '기타유동금융부채의 감소',
       '기타비유동부채의 증가(감소)', '기타충당부채의 감소', '이자수취', '배당금수취', '이자지급', '법인세납부',
       '투자활동현금흐름', '투자활동으로 인한 현금 유입액', '단기금융상품의 감소', '단기대여금의 감소',
       '당기손익-공정가치 측정 금융자산의 처분', '기타포괄손익-공정가치 측정 금융자산의 처분', '상각후원가 측정 금융자산의 처분',
       '관계기업투자주식의 처분', '유형자산의 처분', '무형자산의 처분', '보증금의 감소', '투자활동으로 인한 현금 유출액',
       '단기금융상품의 증가', '장기대여금의 증가', '단기대여금의 증가', '당기손익-공정가치 측정 금융자산의 취득',
       '기타포괄손익-공정가치 측정 금융자산의 취득', '상각후원가 측정 금융자산의 취득', '관계기업투자주식의 취득',
       '유형자산의 취득', '투자부동산의 취득', '무형자산의 취득', '임차보증금의 증가', '재무활동현금흐름',
       '재무활동으로 인한 현금 유입액', '단기차입금의 증가', '사채의 발행', '주식선택권의 행사', '종속기업의 주식 발행',
       '재무활동으로 인한 현금 유출액', '단기차입금의 상환', '사채의 상환', '배당금의 지급', '자기주식의 취득',
       '주식선택권의 행사', '리스부채의 상환', '종속기업투자지분 추가 취득', '현금및현금성자산의 증가(감소)',
       '기초현금및현금성자산', '현금및현금성자산의 환율 변동 효과', '기말현금및현금성자산'],
      dtype='object', name='자산종류')

In [49]:
df3.drop(df3.index[5:24], inplace=True)
df3.index

Index(['영업활동현금흐름', '영업에서 창출된 현금흐름', '당기순이익', '법인세비용', '기타영업외수익', '법인세납부',
       '투자활동현금흐름', '투자활동으로 인한 현금 유입액', '단기금융상품의 감소', '단기대여금의 감소',
       '당기손익-공정가치 측정 금융자산의 처분', '기타포괄손익-공정가치 측정 금융자산의 처분', '상각후원가 측정 금융자산의 처분',
       '관계기업투자주식의 처분', '유형자산의 처분', '무형자산의 처분', '보증금의 감소', '투자활동으로 인한 현금 유출액',
       '단기금융상품의 증가', '장기대여금의 증가', '단기대여금의 증가', '당기손익-공정가치 측정 금융자산의 취득',
       '기타포괄손익-공정가치 측정 금융자산의 취득', '상각후원가 측정 금융자산의 취득', '관계기업투자주식의 취득',
       '유형자산의 취득', '투자부동산의 취득', '무형자산의 취득', '임차보증금의 증가', '재무활동현금흐름',
       '재무활동으로 인한 현금 유입액', '단기차입금의 증가', '사채의 발행', '주식선택권의 행사', '종속기업의 주식 발행',
       '재무활동으로 인한 현금 유출액', '단기차입금의 상환', '사채의 상환', '배당금의 지급', '자기주식의 취득',
       '주식선택권의 행사', '리스부채의 상환', '종속기업투자지분 추가 취득', '현금및현금성자산의 증가(감소)',
       '기초현금및현금성자산', '현금및현금성자산의 환율 변동 효과', '기말현금및현금성자산'],
      dtype='object', name='자산종류')

In [50]:
df3.drop(df3.index[6:], inplace=True)
df3

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851
당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
기타영업외수익,-100888900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
법인세납부,173598047700,130389668037,280817491695,62837333872,135837102823,70898713917,69150638541,25670308156,39640594388,60542449525

In [51]:
df1

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024

In [52]:
df2

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139

In [53]:
df3

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851
당기순이익,586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
기타영업외수익,-100888900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
법인세납부,173598047700,130389668037,280817491695,62837333872,135837102823,70898713917,69150638541,25670308156,39640594388,60542449525

In [54]:
df3.drop(df3.index[2:], inplace=True)
df3

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851

In [55]:
df = pd.concat([df1, df2, df3])
df

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851

In [56]:
df

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851

In [57]:
df4 = pd.read_excel('../../fsdata/00261443_annual.xlsx', sheet_name='Data_bs')

In [58]:
df4.head()

,Unnamed: 0,"[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,20201231,...,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231,20091231
0,NaN,concept_id,label_ko,label_en,class0,class1,class2,class3,class4,"('연결재무제표',)",...,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,ifrs-full_CurrentAssets,유동자산,Current assets,재무상태표 [abstract],자산 [abstract],유동자산,NaN,NaN,2444363386090,...,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675,722757843882,607854549387
3,1.0,ifrs-full_CashAndCashEquivalents,현금및현금성자산,Cash and cash equivalents,재무상태표 [abstract],자산 [abstract],유동자산,현금및현금성자산,NaN,157272936923,...,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935,59453163281,95140096775
4,2.0,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,Short-term deposits not classified as cash equ...,재무상태표 [abstract],자산 [abstract],유동자산,단기금융상품,NaN,638038278271,...,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063,532651883787,365000000000

In [59]:
df4.drop(df4.iloc[:,:2], axis=1, inplace=True)
df4.head()

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231,20091231
0,label_ko,label_en,class0,class1,class2,class3,class4,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,유동자산,Current assets,재무상태표 [abstract],자산 [abstract],유동자산,NaN,NaN,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675,722757843882,607854549387
3,현금및현금성자산,Cash and cash equivalents,재무상태표 [abstract],자산 [abstract],유동자산,현금및현금성자산,NaN,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935,59453163281,95140096775
4,단기금융상품,Short-term deposits not classified as cash equ...,재무상태표 [abstract],자산 [abstract],유동자산,단기금융상품,NaN,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063,532651883787,365000000000

In [60]:
df4.drop(df4.iloc[:, 1:7], axis=1, inplace=True)
df4.head()

,Unnamed: 2,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231,20091231
0,label_ko,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675,722757843882,607854549387
3,현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935,59453163281,95140096775
4,단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063,532651883787,365000000000

In [61]:
df4.drop(df4.iloc[:, 11:], axis=1, inplace=True)
df4.head()

,Unnamed: 2,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
0,label_ko,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
3,현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935
4,단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063

In [62]:
df4.rename(columns={'Unnamed: 2':'자산종류'}, inplace=True)
df4.set_index('자산종류', inplace=True)
df4.head()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
label_ko,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
현금및현금성자산,157272936923,303443276788,185592882727,187255812447,144829329639,248092386501,202756536966,123330761249,123040836583,59153505935
단기금융상품,638038278271,676809612966,232653095174,92695012937,144970886049,306198349321,498596742391,378576326931,313034856256,423652707063

In [63]:
df4.drop(df4.index[:2], inplace=True)
df4.index

Index(['유동자산', '현금및현금성자산', '단기금융상품', '매출채권 및 기타유동채권', '매출채권', '기타수취채권',
       '단기대여금', '단기금융리스채권', '단기투자자산', '재고자산', '기타유동자산', '당기법인세자산', '비유동자산',
       '장기매출채권 및 기타비유동채권', '기타수취채권', '장기대여금', '장기금융리스채권', '장기투자자산',
       '관계기업에 대한 투자자산', '투자부동산', '유형자산', '무형자산', '기타비유동자산', '확정급여자산',
       '이연법인세자산', '자산총계', '유동부채', '차입금', '기타지급채무', '리스부채', '당기법인세부채', '기타유동부채',
       '기타충당부채', '비유동부채', '파생상품부채', '사채', '확정급여부채', '장기종업원급여채무', '기타지급채무',
       '비유동리스부채', '기타비유동부채', '기타충당부채', '이연법인세부채', '부채총계',
       '지배기업의 소유주에게 귀속되는 자본', '자본금', '기타불입자본', '기타자본구성요소', '이익잉여금(결손금)',
       '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [64]:
df4.drop(df4.index[:20], inplace=True)
df4.head()

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유형자산,368440834281,350408848297,233876559108,229062631039,224654948984,233821886940,240839261581,248310439918,425828131646,366332503479
무형자산,49661428833,49580055884,54377478827,52405762249,53345011970,64225894954,94558977229,112105218417,133317457453,30254647092
기타비유동자산,5497557519,5982205808,10000000000,3000000000,3000000000,107102456,99741531,127132397,336878366,1772460116
확정급여자산,3600764790,266843807,4213226220,10557946640,0,0,0,0,0,3815000
이연법인세자산,743308221,826103945,5008379005,3208678257,1411581093,23988877041,25665726286,23170454665,15013913871,9610587292

In [65]:
df

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유동자산,2444363386090,2087864326836,1576408673266,1772726949121,1191628829759,1082774018109,1019545797664,785504544784,674303525826,638973438675
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
영업수익,2416184211886,1701185422583,1715115508236,1758721721721,983556873665,838297603134,838718199693,756655650601,753520026241,608878406065
영업비용,1591390506192,1222193003790,1100186195863,1173702759999,654794411500,202683140216,220277004889,220451747908,226175982615,139146698514
영업이익(손실),824793705694,478992418793,614929312373,585018961722,328762462165,237466377634,278188111023,205235211161,151252046480,135722444106
법인세비용,216643928665,136998851991,215882267950,166199699332,74691206113,73159319384,61489783175,57526635203,29240348127,39534784923
당기순이익(손실),586612599330,359154722508,421467650710,444043111896,271381872090,166350442469,227519296162,158695768295,153666725549,117676060139
영업활동현금흐름,707646022942,392249235729,352800469174,595173210397,112022508831,241337233887,263580917054,236187663553,210641886701,138554553124
영업에서 창출된 현금흐름,857871006822,488771424868,598530170737,640081566975,231723144723,296196615743,315144928207,242144995478,230643032404,177140885851

In [66]:
df4.index

Index(['유형자산', '무형자산', '기타비유동자산', '확정급여자산', '이연법인세자산', '자산총계', '유동부채', '차입금',
       '기타지급채무', '리스부채', '당기법인세부채', '기타유동부채', '기타충당부채', '비유동부채', '파생상품부채',
       '사채', '확정급여부채', '장기종업원급여채무', '기타지급채무', '비유동리스부채', '기타비유동부채', '기타충당부채',
       '이연법인세부채', '부채총계', '지배기업의 소유주에게 귀속되는 자본', '자본금', '기타불입자본', '기타자본구성요소',
       '이익잉여금(결손금)', '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [67]:
df5 = df4.loc['유동부채',:]

In [68]:
df = pd.concat([df, df5])

In [69]:
df

,0,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
유동자산,NaN,638973438675,674303525826,785504544784,1019545797664,1082774018109,1191628829759,1772726949121,1576408673266,2087864326836,2444363386090
자산총계,NaN,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
부채총계,NaN,244968179751,296262422809,320758501362,323231513838,430262047043,465295073708,797327860834,562307308920,834211969584,936521663466
자본금,NaN,10925198500,10949416000,10957354000,10964511000,10964511000,10964511000,10969511000,10969511000,10977011000,10977011000
자본총계,NaN,868463480273,1020563562360,1158763180570,1375594613905,1788935273299,1895507787972,2729239299785,2378971405124,2512165430801,3144687233156
자본과부채총계,NaN,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
영업수익,NaN,608878406065,753520026241,756655650601,838718199693,838297603134,983556873665,1758721721721,1715115508236,1701185422583,2416184211886
영업비용,NaN,139146698514,226175982615,220451747908,220277004889,202683140216,654794411500,1173702759999,1100186195863,1222193003790,1591390506192
영업이익(손실),NaN,135722444106,151252046480,205235211161,278188111023,237466377634,328762462165,585018961722,614929312373,478992418793,824793705694
법인세비용,NaN,39534784923,29240348127,57526635203,61489783175,73159319384,74691206113,166199699332,215882267950,136998851991,216643928665
당기순이익(손실),NaN,117676060139,153666725549,158695768295,227519296162,166350442469,271381872090,444043111896,421467650710,359154722508,586612599330
영업활동현금흐름,NaN,138554553124,210641886701,236187663553,263580917054,241337233887,112022508831,595173210397,352800469174,392249235729,707646022942
영업에서 창출된 현금흐름,NaN,177140885851,230643032404,242144995478,315144928207,296196615743,231723144723,640081566975,598530170737,488771424868,857871006822
20201231,509342417280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20191231,449764539269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20181231,473074463192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20171231,455797606235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20161231,284355732572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20151231,337541365649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20141231,245386466697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20131231,251845267481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20121231,235652439668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20111231,198682914677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.drop(df.index[12:], inplace=True)

In [71]:
df

,0,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
유동자산,NaN,638973438675,674303525826,785504544784,1019545797664,1082774018109,1191628829759,1772726949121,1576408673266,2087864326836,2444363386090
자산총계,NaN,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
부채총계,NaN,244968179751,296262422809,320758501362,323231513838,430262047043,465295073708,797327860834,562307308920,834211969584,936521663466
자본금,NaN,10925198500,10949416000,10957354000,10964511000,10964511000,10964511000,10969511000,10969511000,10977011000,10977011000
자본총계,NaN,868463480273,1020563562360,1158763180570,1375594613905,1788935273299,1895507787972,2729239299785,2378971405124,2512165430801,3144687233156
자본과부채총계,NaN,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
영업수익,NaN,608878406065,753520026241,756655650601,838718199693,838297603134,983556873665,1758721721721,1715115508236,1701185422583,2416184211886
영업비용,NaN,139146698514,226175982615,220451747908,220277004889,202683140216,654794411500,1173702759999,1100186195863,1222193003790,1591390506192
영업이익(손실),NaN,135722444106,151252046480,205235211161,278188111023,237466377634,328762462165,585018961722,614929312373,478992418793,824793705694
법인세비용,NaN,39534784923,29240348127,57526635203,61489783175,73159319384,74691206113,166199699332,215882267950,136998851991,216643928665
당기순이익(손실),NaN,117676060139,153666725549,158695768295,227519296162,166350442469,271381872090,444043111896,421467650710,359154722508,586612599330
영업활동현금흐름,NaN,138554553124,210641886701,236187663553,263580917054,241337233887,112022508831,595173210397,352800469174,392249235729,707646022942

In [72]:
df.drop(df.iloc[:,:1], axis=1, inplace=True)

In [73]:
df

,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
유동자산,638973438675,674303525826,785504544784,1019545797664,1082774018109,1191628829759,1772726949121,1576408673266,2087864326836,2444363386090
자산총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
부채총계,244968179751,296262422809,320758501362,323231513838,430262047043,465295073708,797327860834,562307308920,834211969584,936521663466
자본금,10925198500,10949416000,10957354000,10964511000,10964511000,10964511000,10969511000,10969511000,10977011000,10977011000
자본총계,868463480273,1020563562360,1158763180570,1375594613905,1788935273299,1895507787972,2729239299785,2378971405124,2512165430801,3144687233156
자본과부채총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
영업수익,608878406065,753520026241,756655650601,838718199693,838297603134,983556873665,1758721721721,1715115508236,1701185422583,2416184211886
영업비용,139146698514,226175982615,220451747908,220277004889,202683140216,654794411500,1173702759999,1100186195863,1222193003790,1591390506192
영업이익(손실),135722444106,151252046480,205235211161,278188111023,237466377634,328762462165,585018961722,614929312373,478992418793,824793705694
법인세비용,39534784923,29240348127,57526635203,61489783175,73159319384,74691206113,166199699332,215882267950,136998851991,216643928665
당기순이익(손실),117676060139,153666725549,158695768295,227519296162,166350442469,271381872090,444043111896,421467650710,359154722508,586612599330
영업활동현금흐름,138554553124,210641886701,236187663553,263580917054,241337233887,112022508831,595173210397,352800469174,392249235729,707646022942

In [74]:
df5

20201231    509342417280
20191231    449764539269
20181231    473074463192
20171231    455797606235
20161231    284355732572
20151231    337541365649
20141231    245386466697
20131231    251845267481
20121231    235652439668
20111231    198682914677
Name: 유동부채, dtype: object

In [75]:
df4

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유형자산,368440834281,350408848297,233876559108,229062631039,224654948984,233821886940,240839261581,248310439918,425828131646,366332503479
무형자산,49661428833,49580055884,54377478827,52405762249,53345011970,64225894954,94558977229,112105218417,133317457453,30254647092
기타비유동자산,5497557519,5982205808,10000000000,3000000000,3000000000,107102456,99741531,127132397,336878366,1772460116
확정급여자산,3600764790,266843807,4213226220,10557946640,0,0,0,0,0,3815000
이연법인세자산,743308221,826103945,5008379005,3208678257,1411581093,23988877041,25665726286,23170454665,15013913871,9610587292
자산총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024
유동부채,509342417280,449764539269,473074463192,455797606235,284355732572,337541365649,245386466697,251845267481,235652439668,198682914677
차입금,5271300000,11310003450,155050580963,0,0,0,10000000000,5516504,0,0
기타지급채무,79964148574,52862846316,33306635323,48395093540,39464689132,31338059470,27943219747,22558855059,25474245764,30655502740
리스부채,36907785032,31381390859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
당기법인세부채,140482813888,83392133892,71149631485,142593761909,39911858853,105851428856,34786660089,40042245850,5317069951,7613044446
기타유동부채,246716369786,270816546752,213565997421,264807132786,204976795587,199862089561,182166313099,185808100572,192679044658,148034667491
기타충당부채,NaN,1618000,1618000,1618000,2389000,489787762,490273762,6341000,7653000,0
비유동부채,427179246186,384447430315,89232845728,341530254599,180939341136,92720681394,77845047141,68913233881,60609983141,46285265074
파생상품부채,6034286102,8548104868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
사채,249607246046,249364096041,NaN,NaN,NaN,0,0,0,12174426295,12379700000
확정급여부채,6888698410,12320467898,4101032199,3314099517,13789828522,64247023927,54045102396,45944599812,35284401102,34330074020
장기종업원급여채무,14510651994,7810072814,7120534672,7046978026,4887252300,5057794335,4776458227,4872660676,4549550430,5391309531
기타지급채무,10984678919,7978434841,4361324473,4503242064,7258140100,15920081044,14115450100,10675866600,0,2400000000
비유동리스부채,45752384576,65714515759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
기타비유동부채,29132675686,11971364823,7999398961,3438271998,4471539159,6397830931,3565770828,1830874989,7432864169,4163881523
기타충당부채,3023814917,2563864835,2407744553,597370836,5421970,34092123,303555012,286110436,269668358,0
이연법인세부채,61244809536,18176508436,63242810870,172790671304,815909070,0,0,3429725000,1486917173,0
부채총계,936521663466,834211969584,562307308920,797327860834,465295073708,430262047043,323231513838,320758501362,296262422809,244968179751
지배기업의 소유주에게 귀속되는 자본,3141584402622,2499168181415,2367717184303,2721242691055,1885562660878,1769519129008,1360576931153,1141238718854,1000584982271,855591613232
자본금,10977011000,10977011000,10969511000,10969511000,10964511000,10964511000,10964511000,10957354000,10949416000,10925198500
기타불입자본,-4349547526,-2245068568,4454005496,279057498494,278611021719,431516059146,123297170636,119617898341,117909756792,115258107306
기타자본구성요소,278189816210,108350013161,188477340679,525307306487,52160451836,-3312085480,-7941935263,-6121644297,991353811,3990647683
이익잉여금(결손금),2856767122938,2382086225822,2163816327128,1905908375074,1543826676323,1330350644342,1234257184780,1016785110810,870734455668,725417659743
비지배지분,3102830534,12997249386,11254220821,7996608730,9945127094,19416144291,15017682752,17524461716,19978580089,12871867041
자본총계,3144687233156,2512165430801,2378971405124,2729239299785,1895507787972,1788935273299,1375594613905,1158763180570,1020563562360,868463480273
자본과부채총계,4081208896622,3346377400385,2941278714044,3526567160619,2360802861680,2219197320342,1698826127743,1479521681932,1316825985169,1113431660024

In [76]:
df4.index

Index(['유형자산', '무형자산', '기타비유동자산', '확정급여자산', '이연법인세자산', '자산총계', '유동부채', '차입금',
       '기타지급채무', '리스부채', '당기법인세부채', '기타유동부채', '기타충당부채', '비유동부채', '파생상품부채',
       '사채', '확정급여부채', '장기종업원급여채무', '기타지급채무', '비유동리스부채', '기타비유동부채', '기타충당부채',
       '이연법인세부채', '부채총계', '지배기업의 소유주에게 귀속되는 자본', '자본금', '기타불입자본', '기타자본구성요소',
       '이익잉여금(결손금)', '비지배지분', '자본총계', '자본과부채총계'],
      dtype='object', name='자산종류')

In [77]:
df4.drop(df4.index[:6], inplace=True)

In [78]:
df4.drop(df4.index[1:], inplace=True)

In [79]:
df4

,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231
자산종류,,,,,,,,,,
유동부채,509342417280,449764539269,473074463192,455797606235,284355732572,337541365649,245386466697,251845267481,235652439668,198682914677

In [80]:
df

,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
유동자산,638973438675,674303525826,785504544784,1019545797664,1082774018109,1191628829759,1772726949121,1576408673266,2087864326836,2444363386090
자산총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
부채총계,244968179751,296262422809,320758501362,323231513838,430262047043,465295073708,797327860834,562307308920,834211969584,936521663466
자본금,10925198500,10949416000,10957354000,10964511000,10964511000,10964511000,10969511000,10969511000,10977011000,10977011000
자본총계,868463480273,1020563562360,1158763180570,1375594613905,1788935273299,1895507787972,2729239299785,2378971405124,2512165430801,3144687233156
자본과부채총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
영업수익,608878406065,753520026241,756655650601,838718199693,838297603134,983556873665,1758721721721,1715115508236,1701185422583,2416184211886
영업비용,139146698514,226175982615,220451747908,220277004889,202683140216,654794411500,1173702759999,1100186195863,1222193003790,1591390506192
영업이익(손실),135722444106,151252046480,205235211161,278188111023,237466377634,328762462165,585018961722,614929312373,478992418793,824793705694
법인세비용,39534784923,29240348127,57526635203,61489783175,73159319384,74691206113,166199699332,215882267950,136998851991,216643928665
당기순이익(손실),117676060139,153666725549,158695768295,227519296162,166350442469,271381872090,444043111896,421467650710,359154722508,586612599330
영업활동현금흐름,138554553124,210641886701,236187663553,263580917054,241337233887,112022508831,595173210397,352800469174,392249235729,707646022942

In [81]:
df4 = df4.sort_index(axis=1)

In [82]:
df = pd.concat([df, df4])

In [83]:
df

,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
유동자산,638973438675,674303525826,785504544784,1019545797664,1082774018109,1191628829759,1772726949121,1576408673266,2087864326836,2444363386090
자산총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
부채총계,244968179751,296262422809,320758501362,323231513838,430262047043,465295073708,797327860834,562307308920,834211969584,936521663466
자본금,10925198500,10949416000,10957354000,10964511000,10964511000,10964511000,10969511000,10969511000,10977011000,10977011000
자본총계,868463480273,1020563562360,1158763180570,1375594613905,1788935273299,1895507787972,2729239299785,2378971405124,2512165430801,3144687233156
자본과부채총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
영업수익,608878406065,753520026241,756655650601,838718199693,838297603134,983556873665,1758721721721,1715115508236,1701185422583,2416184211886
영업비용,139146698514,226175982615,220451747908,220277004889,202683140216,654794411500,1173702759999,1100186195863,1222193003790,1591390506192
영업이익(손실),135722444106,151252046480,205235211161,278188111023,237466377634,328762462165,585018961722,614929312373,478992418793,824793705694
법인세비용,39534784923,29240348127,57526635203,61489783175,73159319384,74691206113,166199699332,215882267950,136998851991,216643928665
당기순이익(손실),117676060139,153666725549,158695768295,227519296162,166350442469,271381872090,444043111896,421467650710,359154722508,586612599330
영업활동현금흐름,138554553124,210641886701,236187663553,263580917054,241337233887,112022508831,595173210397,352800469174,392249235729,707646022942
유동부채,198682914677,235652439668,251845267481,245386466697,337541365649,284355732572,455797606235,473074463192,449764539269,509342417280

In [84]:
df.sort_index()

,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
당기순이익(손실),117676060139,153666725549,158695768295,227519296162,166350442469,271381872090,444043111896,421467650710,359154722508,586612599330
법인세비용,39534784923,29240348127,57526635203,61489783175,73159319384,74691206113,166199699332,215882267950,136998851991,216643928665
부채총계,244968179751,296262422809,320758501362,323231513838,430262047043,465295073708,797327860834,562307308920,834211969584,936521663466
영업비용,139146698514,226175982615,220451747908,220277004889,202683140216,654794411500,1173702759999,1100186195863,1222193003790,1591390506192
영업수익,608878406065,753520026241,756655650601,838718199693,838297603134,983556873665,1758721721721,1715115508236,1701185422583,2416184211886
영업이익(손실),135722444106,151252046480,205235211161,278188111023,237466377634,328762462165,585018961722,614929312373,478992418793,824793705694
영업활동현금흐름,138554553124,210641886701,236187663553,263580917054,241337233887,112022508831,595173210397,352800469174,392249235729,707646022942
유동부채,198682914677,235652439668,251845267481,245386466697,337541365649,284355732572,455797606235,473074463192,449764539269,509342417280
유동자산,638973438675,674303525826,785504544784,1019545797664,1082774018109,1191628829759,1772726949121,1576408673266,2087864326836,2444363386090
자본과부채총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
자본금,10925198500,10949416000,10957354000,10964511000,10964511000,10964511000,10969511000,10969511000,10977011000,10977011000
자본총계,868463480273,1020563562360,1158763180570,1375594613905,1788935273299,1895507787972,2729239299785,2378971405124,2512165430801,3144687233156
자산총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622

In [85]:
import numpy as np

In [86]:
col_list = ['temp']
for i in range(len(df.columns)):
    col_list.append(df.columns[i])
col_list.append('temp')
temp = pd.DataFrame(columns=col_list, index=[
                    '유동비율', '부채비율', 'ROE', 'ROIC', '영업이익률', '매출액증가율', '자기자본증가율'])
temp

,temp,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231,temp
유동비율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
부채비율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
영업이익률,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
매출액증가율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
자기자본증가율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
temp

,temp,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231,temp
유동비율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
부채비율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
영업이익률,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
매출액증가율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
자기자본증가율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df

,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
유동자산,638973438675,674303525826,785504544784,1019545797664,1082774018109,1191628829759,1772726949121,1576408673266,2087864326836,2444363386090
자산총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
부채총계,244968179751,296262422809,320758501362,323231513838,430262047043,465295073708,797327860834,562307308920,834211969584,936521663466
자본금,10925198500,10949416000,10957354000,10964511000,10964511000,10964511000,10969511000,10969511000,10977011000,10977011000
자본총계,868463480273,1020563562360,1158763180570,1375594613905,1788935273299,1895507787972,2729239299785,2378971405124,2512165430801,3144687233156
자본과부채총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
영업수익,608878406065,753520026241,756655650601,838718199693,838297603134,983556873665,1758721721721,1715115508236,1701185422583,2416184211886
영업비용,139146698514,226175982615,220451747908,220277004889,202683140216,654794411500,1173702759999,1100186195863,1222193003790,1591390506192
영업이익(손실),135722444106,151252046480,205235211161,278188111023,237466377634,328762462165,585018961722,614929312373,478992418793,824793705694
법인세비용,39534784923,29240348127,57526635203,61489783175,73159319384,74691206113,166199699332,215882267950,136998851991,216643928665
당기순이익(손실),117676060139,153666725549,158695768295,227519296162,166350442469,271381872090,444043111896,421467650710,359154722508,586612599330
영업활동현금흐름,138554553124,210641886701,236187663553,263580917054,241337233887,112022508831,595173210397,352800469174,392249235729,707646022942
유동부채,198682914677,235652439668,251845267481,245386466697,337541365649,284355732572,455797606235,473074463192,449764539269,509342417280

In [89]:
for i in range(len(df.columns)):
    temp.loc['유동비율', df.columns[i]] = ((df.loc['유동자산', df.columns[i]] / df.loc['유동부채', df.columns[i]]) * 100)
    temp.loc['부채비율', df.columns[i]] = (
        (df.loc['부채총계', df.columns[i]] / df.loc['자본총계', df.columns[i]]) * 100)
    
    
    temp.loc['영업이익률', df.columns[i]] = (
        (df.loc['영업이익(손실)', df.columns[i]] /
         df.loc['영업수익', df.columns[i]]) * 100)

In [90]:
for i in range(1, len(df.columns)-1):
    temp.loc['매출액증가율', df.columns[i+1]] = (
        ((df.loc['영업수익', df.columns[i+1]] -
          df.loc['영업수익', df.columns[i]]) / df.loc['영업수익', df.columns[i]]) * 100)
    temp.loc['자기자본증가율', df.columns[i+1]] = (
        ((df.loc['자본총계', df.columns[i+1]] -
          df.loc['자본총계', df.columns[i]]) / df.loc['자본총계', df.columns[i]]) * 100)
    temp.loc['ROE', df.columns[i+1]] = (
        (df.loc['당기순이익(손실)', df.columns[i+1]] / ((df.loc['자본총계', df.columns[i]] + df.loc['자본총계', df.columns[i+1]])/2)) * 100)
    temp.loc['ROIC', df.columns[i+1]] = (
        ((df.loc['영업이익(손실)', df.columns[i+1]] -
          df.loc['법인세비용', df.columns[i+1]]) / ((df.loc['자산총계', df.columns[i+1]] + df.loc['자산총계', df.columns[i+1]])/2)) * 100)

In [91]:
temp

,temp,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231,temp
유동비율,NaN,321.604623,286.14324,311.899665,415.485748,320.782615,419.062707,388.928534,333.22633,464.212748,479.905718,NaN
부채비율,NaN,28.207079,29.029297,27.681109,23.497585,24.051292,24.547252,29.214289,23.636573,33.206888,29.781075,NaN
ROE,NaN,NaN,NaN,14.563743,17.954789,10.513438,14.731229,19.202914,16.501577,14.68594,20.739893,NaN
ROIC,NaN,NaN,NaN,9.983536,12.755768,7.403896,10.76207,11.876118,13.567128,10.219815,14.901217,NaN
영업이익률,NaN,22.290566,20.072731,27.123991,33.168245,28.327217,33.425872,33.263873,35.853522,28.156391,34.13621,NaN
매출액증가율,NaN,NaN,NaN,0.41613,10.845429,-0.050148,17.327888,78.812407,-2.479427,-0.812195,42.029445,NaN
자기자본증가율,NaN,NaN,NaN,13.5415,18.712316,30.048145,5.957315,43.9846,-12.833902,5.598807,25.17835,NaN

In [92]:
# [(df.loc['부채총계', df.columns[i]] / df.loc['자본총계', df.columns[i]]) * 100],
# [(df.loc['당기순이익(손실)', df.columns[i]] / df.loc['자본금', df.columns[i]]) * 100],
# [((df.loc['영업이익(손실)', df.columns[i]] -
#     df.loc['법인세비용', df.columns[i]]) / df.loc['자산총계', df.columns[i]]) * 100],
# [(df.loc['영업이익(손실)', df.columns[i]] / df.loc['영업수익', df.columns[i]]) * 100],
# [(df.loc['영업이익(손실)', df.columns[i]] / df.loc['영업수익', df.columns[i]]) * 100],
# index = ['유동비율', '부채비율', 'ROE', 'ROIC', '영업이익률', '매출액증가율', '자기자본증가율'],
# columns = ['20111231', '20121231', '20131231', '20141231', '20151231',
#            '20161231', '20171231', '20181231', '20191231', '20201231']

In [93]:
df.to_csv('../프로젝트/rawdata.csv')

In [94]:
df

,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
유동자산,638973438675,674303525826,785504544784,1019545797664,1082774018109,1191628829759,1772726949121,1576408673266,2087864326836,2444363386090
자산총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
부채총계,244968179751,296262422809,320758501362,323231513838,430262047043,465295073708,797327860834,562307308920,834211969584,936521663466
자본금,10925198500,10949416000,10957354000,10964511000,10964511000,10964511000,10969511000,10969511000,10977011000,10977011000
자본총계,868463480273,1020563562360,1158763180570,1375594613905,1788935273299,1895507787972,2729239299785,2378971405124,2512165430801,3144687233156
자본과부채총계,1113431660024,1316825985169,1479521681932,1698826127743,2219197320342,2360802861680,3526567160619,2941278714044,3346377400385,4081208896622
영업수익,608878406065,753520026241,756655650601,838718199693,838297603134,983556873665,1758721721721,1715115508236,1701185422583,2416184211886
영업비용,139146698514,226175982615,220451747908,220277004889,202683140216,654794411500,1173702759999,1100186195863,1222193003790,1591390506192
영업이익(손실),135722444106,151252046480,205235211161,278188111023,237466377634,328762462165,585018961722,614929312373,478992418793,824793705694
법인세비용,39534784923,29240348127,57526635203,61489783175,73159319384,74691206113,166199699332,215882267950,136998851991,216643928665
당기순이익(손실),117676060139,153666725549,158695768295,227519296162,166350442469,271381872090,444043111896,421467650710,359154722508,586612599330
영업활동현금흐름,138554553124,210641886701,236187663553,263580917054,241337233887,112022508831,595173210397,352800469174,392249235729,707646022942
유동부채,198682914677,235652439668,251845267481,245386466697,337541365649,284355732572,455797606235,473074463192,449764539269,509342417280

In [95]:
temp

,temp,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231,temp
유동비율,NaN,321.604623,286.14324,311.899665,415.485748,320.782615,419.062707,388.928534,333.22633,464.212748,479.905718,NaN
부채비율,NaN,28.207079,29.029297,27.681109,23.497585,24.051292,24.547252,29.214289,23.636573,33.206888,29.781075,NaN
ROE,NaN,NaN,NaN,14.563743,17.954789,10.513438,14.731229,19.202914,16.501577,14.68594,20.739893,NaN
ROIC,NaN,NaN,NaN,9.983536,12.755768,7.403896,10.76207,11.876118,13.567128,10.219815,14.901217,NaN
영업이익률,NaN,22.290566,20.072731,27.123991,33.168245,28.327217,33.425872,33.263873,35.853522,28.156391,34.13621,NaN
매출액증가율,NaN,NaN,NaN,0.41613,10.845429,-0.050148,17.327888,78.812407,-2.479427,-0.812195,42.029445,NaN
자기자본증가율,NaN,NaN,NaN,13.5415,18.712316,30.048145,5.957315,43.9846,-12.833902,5.598807,25.17835,NaN