In [2]:
import pandas as pd
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2011, 1, 1)
end = datetime.datetime(2020, 12, 1)

nc_soft = web.DataReader("036570.KS", "yahoo", start=start, end=end)

In [3]:
nc_soft

                High       Low      Open     Close    Volume      Adj Close
Date
2011-01-03  210500.0  206000.0  210500.0  207000.0  243796.0  186251.796875
2011-01-04  209500.0  200000.0  209000.0  206500.0  278453.0  185801.921875
2011-01-05  207000.0  202000.0  207000.0  205500.0  291427.0  184902.125000
2011-01-06  211500.0  199500.0  203500.0  210500.0  523503.0  189400.984375
2011-01-07  220000.0  211500.0  212000.0  218500.0  564784.0  196599.125000
...              ...       ...       ...       ...       ...            ...
2020-11-25  822000.0  805000.0  820000.0  805000.0  116634.0  797335.437500
2020-11-26  816000.0  803000.0  803000.0  816000.0   67165.0  808230.687500
2020-11-27  829000.0  810000.0  811000.0  822000.0   78210.0  814173.562500
2020-11-30  822000.0  810000.0  820000.0  810000.0  122666.0  802287.812500
2020-12-01  860000.0  815000.0  821000.0  852000.0  193153.0  843887.937500

[2442 rows x 6 columns]

In [4]:
df = pd.read_csv('../프로젝트/basic.csv')
df

,Unnamed: 0,20111231,20121231,20131231,20141231,20151231,20161231,20171231,20181231,20191231,20201231
0,유동비율,321.604623,286.143240,311.899665,415.485748,320.782615,419.062707,388.928534,333.226330,464.212748,479.905718
1,부채비율,28.207079,29.029297,27.681109,23.497585,24.051292,24.547252,29.214289,23.636573,33.206888,29.781075
2,ROE,14.441248,16.269405,14.563743,17.954789,10.513438,14.731229,19.202914,16.501577,14.685940,20.739893
3,ROIC,8.638847,9.265590,9.983536,12.755768,7.403896,10.762070,11.876118,13.567128,10.219815,14.901217
4,영업이익률,22.290566,20.072731,27.123991,33.168245,28.327217,33.425872,33.263873,35.853522,28.156391,34.136210
5,매출액증가율,-7.699800,23.755420,0.416130,10.845429,-0.050148,17.327888,78.812407,-2.479427,-0.812195,42.029445
6,자기자본증가율,14.082674,17.513699,13.541500,18.712316,30.048145,5.957315,43.984600,-12.833902,5.598807,25.178350

In [5]:
df.columns

Index(['Unnamed: 0', '20111231', '20121231', '20131231', '20141231',
       '20151231', '20161231', '20171231', '20181231', '20191231', '20201231'],
      dtype='object')

In [8]:
df.columns = ['종류', '20120101', '20130101', '20140101', '20150101', '20160101', '20170101', '20180101', '20190101', '20200101', '20210101']

In [9]:
df

,종류,20120101,20130101,20140101,20150101,20160101,20170101,20180101,20190101,20200101,20210101
0,유동비율,321.604623,286.143240,311.899665,415.485748,320.782615,419.062707,388.928534,333.226330,464.212748,479.905718
1,부채비율,28.207079,29.029297,27.681109,23.497585,24.051292,24.547252,29.214289,23.636573,33.206888,29.781075
2,ROE,14.441248,16.269405,14.563743,17.954789,10.513438,14.731229,19.202914,16.501577,14.685940,20.739893
3,ROIC,8.638847,9.265590,9.983536,12.755768,7.403896,10.762070,11.876118,13.567128,10.219815,14.901217
4,영업이익률,22.290566,20.072731,27.123991,33.168245,28.327217,33.425872,33.263873,35.853522,28.156391,34.136210
5,매출액증가율,-7.699800,23.755420,0.416130,10.845429,-0.050148,17.327888,78.812407,-2.479427,-0.812195,42.029445
6,자기자본증가율,14.082674,17.513699,13.541500,18.712316,30.048145,5.957315,43.984600,-12.833902,5.598807,25.178350

In [11]:
df.set_index('종류', inplace=True)

In [12]:
df = df.T

In [13]:
df

종류,유동비율,부채비율,ROE,ROIC,영업이익률,매출액증가율,자기자본증가율
20120101,321.604623,28.207079,14.441248,8.638847,22.290566,-7.699800,14.082674
20130101,286.143240,29.029297,16.269405,9.265590,20.072731,23.755420,17.513699
20140101,311.899665,27.681109,14.563743,9.983536,27.123991,0.416130,13.541500
20150101,415.485748,23.497585,17.954789,12.755768,33.168245,10.845429,18.712316
20160101,320.782615,24.051292,10.513438,7.403896,28.327217,-0.050148,30.048145
20170101,419.062707,24.547252,14.731229,10.762070,33.425872,17.327888,5.957315
20180101,388.928534,29.214289,19.202914,11.876118,33.263873,78.812407,43.984600
20190101,333.226330,23.636573,16.501577,13.567128,35.853522,-2.479427,-12.833902
20200101,464.212748,33.206888,14.685940,10.219815,28.156391,-0.812195,5.598807
20210101,479.905718,29.781075,20.739893,14.901217,34.136210,42.029445,25.178350

In [14]:
df.index = pd.to_datetime(df.index)

In [15]:
df

종류,유동비율,부채비율,ROE,ROIC,영업이익률,매출액증가율,자기자본증가율
2012-01-01,321.604623,28.207079,14.441248,8.638847,22.290566,-7.699800,14.082674
2013-01-01,286.143240,29.029297,16.269405,9.265590,20.072731,23.755420,17.513699
2014-01-01,311.899665,27.681109,14.563743,9.983536,27.123991,0.416130,13.541500
2015-01-01,415.485748,23.497585,17.954789,12.755768,33.168245,10.845429,18.712316
2016-01-01,320.782615,24.051292,10.513438,7.403896,28.327217,-0.050148,30.048145
2017-01-01,419.062707,24.547252,14.731229,10.762070,33.425872,17.327888,5.957315
2018-01-01,388.928534,29.214289,19.202914,11.876118,33.263873,78.812407,43.984600
2019-01-01,333.226330,23.636573,16.501577,13.567128,35.853522,-2.479427,-12.833902
2020-01-01,464.212748,33.206888,14.685940,10.219815,28.156391,-0.812195,5.598807
2021-01-01,479.905718,29.781075,20.739893,14.901217,34.136210,42.029445,25.178350

In [18]:
df.to_csv('../프로젝트/base.csv')