In [1]:
import pandas as pd

In [234]:
name = 'samsung'
file_name = f'{name}.xlsx'

In [235]:
df1 = pd.read_excel(f'../../fsdata/{file_name}',
                    sheet_name='Data_bs')
df2 = pd.read_excel(f'../../fsdata/{file_name}',
                    sheet_name='Data_cis')
df3 = pd.read_excel(f'../../fsdata/{file_name}',
                    sheet_name='Data_cf')

try:
    df4 = pd.read_excel(f'../../fsdata/{file_name}',
                        sheet_name='Data_is')
except:
    pass

In [236]:
if df1.columns[-1].startswith('2009'):
    df1.drop(df1.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df1.columns[-1].startswith('2009'):
    df1.drop(df1.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df2.columns[-1].startswith('2009'):
    df2.drop(df2.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df2.columns[-1].startswith('2009'):
    df2.drop(df2.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df3.columns[-1].startswith('2009'):
    df3.drop(df3.iloc[:, -1:-2:-1], axis=1, inplace=True)
if df3.columns[-1].startswith('2009'):
    df3.drop(df3.iloc[:, -1:-2:-1], axis=1, inplace=True)
try:
    if df4.columns[-1].startswith('2009'):
        df4.drop(df4.iloc[:, -1:-2:-1], axis=1, inplace=True)
    if df4.columns[-1].startswith('2009'):
        df4.drop(df4.iloc[:, -1:-2:-1], axis=1, inplace=True)
except:
    pass
df1.drop(df1.iloc[:, :2], axis=1, inplace=True)
df2.drop(df2.iloc[:, :2], axis=1, inplace=True)
df3.drop(df3.iloc[:, :2], axis=1, inplace=True)
try:
    df4.drop(df4.iloc[:, :2], axis=1, inplace=True)
except:
    pass

if 'Unnamed: 8' in df1.columns:    
    df1.drop(df1.iloc[:, 1:7], axis=1, inplace=True)
elif 'Unnamed: 7' in df1.columns:
    df1.drop(df1.iloc[:, 1:6], axis=1, inplace=True)
else:
    df1.drop(df1.iloc[:, 1:5], axis=1, inplace=True)

if 'Unnamed: 8' in df2.columns:    
    df2.drop(df2.iloc[:, 1:7], axis=1, inplace=True)
elif 'Unnamed: 7' in df2.columns:
    df2.drop(df2.iloc[:, 1:6], axis=1, inplace=True)
else:
    df2.drop(df2.iloc[:, 1:5], axis=1, inplace=True)

if 'Unnamed: 8' in df3.columns:
    df3.drop(df3.iloc[:, 1:7], axis=1, inplace=True)
elif 'Unnamed: 7' in df3.columns:
    df3.drop(df3.iloc[:, 1:6], axis=1, inplace=True)
else:
    df3.drop(df3.iloc[:, 1:5], axis=1, inplace=True)
try:
    if 'Unnamed: 8' in df4.columns:
        df4.drop(df4.iloc[:, 1:7], axis=1, inplace=True)
    elif 'Unnamed: 7' in df4.columns:
        df4.drop(df4.iloc[:, 1:6], axis=1, inplace=True)
    else:
        df4.drop(df4.iloc[:, 1:5], axis=1, inplace=True)
except:
    pass

In [237]:
df1.rename(columns={'Unnamed: 2': '자산종류'}, inplace=True)
df2.columns = df1.columns
df3.columns = df2.columns
try:
    df4.columns = df3.columns
except:
    pass
df1.set_index('자산종류', inplace=True)
df2.set_index('자산종류', inplace=True)
df3.set_index('자산종류', inplace=True)
try:
    df4.set_index('자산종류', inplace=True)   
except:
    pass

In [239]:
temp = pd.DataFrame(columns=df1.columns, index=[
                    '자산총계', '법인세비용', '영업이익(손실)'])



temp.loc['자산총계', :] = df1.loc['자산총계', :]
try:
    temp.loc['법인세비용', :] = df2.loc['법인세비용', :]
except:
    temp.loc['법인세비용', :] = df4.loc['법인세비용', :]
try:
    try:
        temp.loc['영업이익(손실)', :] = df2.loc['영업이익(손실)', :]
    except:
        temp.loc['영업이익(손실)', :] = df4.loc['영업이익(손실)', :]
except:
    temp.loc['영업이익(손실)', :] = df2.loc['영업이익', :]


temp.sort_index(axis=1, inplace=True)
temp = temp.T
k = pd.to_datetime(temp.index)
temp

                     자산총계           법인세비용        영업이익(손실)
20101231  134308803000000   3193438000000  16756546000000
20111231  155800263000000   3432875000000  15644291000000
20121231  181071570000000   6069732000000  29049338000000
20131231  214075018000000   7889515000000  36785013000000
20141231  230422958000000   4480676000000  25025071000000
20151231  242179521000000   6900851000000  26413442000000
20161231  262174324000000   7987560000000  29240672000000
20171231  301752090000000  14009220000000  53645038000000
20181231  339357244000000  16815101000000  58886669000000
20191231  352564497000000   8693324000000  27768509000000

In [223]:
temp.to_csv(f'./{name}.csv')