In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rc('font', family='Malgun Gothic')

In [3]:
df1 = pd.read_csv('./Data09.csv', encoding='cp949')

In [4]:
df1.head()

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,1.0,1801828.0,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,...,0,25,76,72,54,72,15,38,27,89
3,2.0,1801859.0,BW1 355ml (낱캔),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,40786179.0,RB 500ml,"2,158",4,9,10,27,0,11,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df1.columns

Index(['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점',
       '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점',
       ...
       '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점',
       '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'],
      dtype='object', length=646)